header
    h1 
        a( href="/home") iCu matching app
    nav
        h2 Menu
        ul
            li 
                a(href="/home") Gamers 
            li 
                a(href="/matches") Matches
            li 
                a(href="/profile") Profiel Bewerken