doctype html
html 
    include includes/head.pug
        
    body
    include includes/header.pug
    main
      article(class="content-center") 
        h2=paginaTitel
        - let img = "/static/images/404-cat.jpg"
        p=message 
        img(src=img)
        section
          p
            a(href="/home")
                button(class="button") Gamers Uitdagen
