html
  head
    title= title
    link(rel="stylesheet" href="/static/public/style.css")
  body(class="bg-black fnt-white")

    h1= message
    - var img = "/static/images/404-cat.jpg"
    p 
        img(src=img)
