doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/static/public/styles.css")
  body(class="bg-black fnt-white")
    include includes/header.pug
    
    - let img = "/static/images/404-cat.jpg"
    p= message 
    img(src=img)
