mixin profiles(profileData)
        section(class="profile-box") 
            h2= profileData.naam
            p= profileData.game
            p= profileData.character
            button I Challenge You

doctype html
html
    include includes/head.pug
    
    body
        include includes/header.pug
        
        section 
            p Dit zijn de actuele gamers die je kan uitdagen.

        section(class="profile-section")  
            - const gamer = [{naam: "James bond", game: "Apex", character: "Octane"}, {naam: "Jamie Fox", game: "Tekken", character: "King"}, {naam: "Cookie Monster", game: "Among Us", character: "Red"}]
            +profiles(gamer[0])
            +profiles(gamer[1])
            +profiles(gamer[2])

            
        include includes/footer.pug
