doctype html
html 
    include includes/head.pug
        
    body
    include includes/header.pug
    
    section 
        p Log in met je naam of maak een account aan
    
    include includes/footer.pug