doctype html
html
    include includes/head.pug
    
    body
        include includes/header.pug
        section
            - let user = {name: "Deinca", loggedIn: true}        
            if user.loggedIn
                h2 Profiel bewerken
                p Hallo, #{ user.name }!
                p In deze pagina kan je je profiel gegevens bewerken.

                section
                    form(action="#" method="post")
                        legend Profiel gegevens
                        label(for="fname") Name
                        br
                        input(type="text" id="fname")
                        br
                        input(type="submit" value="submit")

            else 
                h2 Profiel aanmaken
                p Maak een profiel aan door je naar de login pagina te gaan :D
                    
                p
                    button
                        a(href="/login") Profiel aanmaken

    include includes/footer.pug