doctype html
html
  head
    title= title
  body
    h1= message
    section
      P Dag een gamer uit om met jou samen of tegen je te spelen !
    
    section
      a(href="/login") 
        button Login
      //- we zouden hier een Insert Coin concept toepassen.
  include includes/footer.pug